#targetUI {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
}

#targetIcon {
    width: 64px;
    height: 64px;
}
