@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('fonts/NimbusSanL-Bol-webfont.eot');
    src: url('fonts/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NimbusSanL-Bol-webfont.woff2') format('woff2'),
    url('fonts/NimbusSanL-Bol-webfont.woff') format('woff'),
    url('fonts/NimbusSanL-Bol-webfont.ttf') format('truetype'),
    url('fonts/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nimbusantbolconregular';
    src: url('fonts/nimbussanst-boldcondensed-webfont.woff2') format('woff2'),
    url('fonts/nimbussanst-boldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#zn {
    display:none;
}

#znTxt {
    display:none;
}

#ch {
    display:none;
}

#chTxt {
    display:none;
}


#ln01-div {
    position: absolute;
    top: 53px;
    left: 125px;
    width: 170px;
    height: 24px;
    text-align: center;
}

#ln01 {
    font-family: "nimbusantbolconregular";
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#ln02-div {
    position: absolute;
    top: 67px;
    left: 125px;
    width: 170px;
    height: 24px;
    text-align: center;
}


#ln02 {
    font-family: "nimbus_sans_lbold";
    font-size: 18px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#alert-div
{
    position: absolute;
    top: 90px;
    left: 125px;
    width: 170px;
    height: 16px;
    text-align: center;
}

#alert {
    font-family: "nimbus_sans_lbold";
    margin-top: 0;
    margin-left: 0;
    font-size: 12px;
    vertical-align: top;
    z-index: 100;
}

.alert-none {
    color: #212121;
    background-color: #CBE5DD;
}

.alert-red{
    color: white;
    background-color: red;
}
.alert-yellow{
    color: #282828;
    background-color: yellow;
}
.alert-orange{
    color: #282828;
    background-color: orange;
}
.alert-blue{
    color: white;
    background-color: blue;
}

.alert-green {
    color: white;
    background-color: green;
}


#bt01-div {
    position: absolute;
    top: 112px;
    left: 129px;
    width: 44px;
    height: 16px;
    text-align: center;
}

#bt01 {
    font-family: "nimbusantbolconregular";
    font-size: 12px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt02-div
{
    position: absolute;
    top: 112px;
    left: 173px;
    width: 44px;
    height: 16px;
    text-align: center;
}

#bt02 {
    font-family: "nimbusantbolconregular";
    font-size: 12px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt03-div
{
    position: absolute;
    top: 112px;
    left: 213px;
    width: 44px;
    height: 16px;
    text-align: center;
}

#bt03 {
    font-family: "nimbusantbolconregular";
    font-size: 12px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt04-div
{
    position: absolute;
    top: 112px;
    left: 254px;
    width: 44px;
    height: 16px;
    text-align: center;
}

#bt04 {
    font-family: "nimbusantbolconregular";
    font-size: 12px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt05-div
{
    display: none;
}

#bt05 {
}

#radio {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 200px;
    width: 570px;
    margin-top: 38%;
    background: url("Motorola-O2.png") no-repeat;
    background-size: contain;
}

#btnEmerg {
    position: absolute;
    left: 488px;
    top: 37px;
    width: 21px;
    height: 21px;
}

#btn1 {
    position: absolute;
    left: 126px;
    top: 142px;
    width: 37px;
    height: 31px;
}



#btn2 {
    position: absolute;
    left: 172px;
    top: 142px;
    width: 37px;
    height: 31px;
}

#btn3 {
    position: absolute;
    left: 217px;
    top: 142px;
    width: 37px;
    height: 31px;
}

#btn4 {
    position: absolute;
    left: 261px;
    top: 142px;
    width: 37px;
    height: 31px;
}

#btn5 {
}

#btnUp
{
    position: absolute;
    left: 323px;
    top: 32px;
    width: 23px;
    height: 30px;
}

#btnHome
{
    position: absolute;
    left: 323px;
    top: 143px;
    width: 23px;
    height: 30px;
}

#btnDown
{
    position: absolute;
    left: 323px;
    top: 67px;
    width: 23px;
    height: 30px;
}

#btnLeft
{
    position: absolute;
    left: 471px;
    top: 105px;
    width: 27px;
    height: 57px;
}

#btnRight
{
    position: absolute;
    left: 498px;
    top: 105px;
    width: 27px;
    height: 57px;
}

#btnPower
{
    position: absolute;
    left: 67px;
    top: 32px;
    width: 31px;
    height: 32px;
}

#redLED
{
    position: absolute;
    left: 71px;
    top: 75px;
    width: 23px;
    height: 6px;
}

#orangeLED
{
    position: absolute;
    left: 71px;
    top: 102px;
    width: 23px;
    height: 6px;
}

#greenLED
{
    position: absolute;
    left: 71px;
    top: 89px;
    width: 23px;
    height: 6px;
}


#battery-icon-div {
}

#rssi-icon-div {
    position: absolute;
    background: url(icons/rssi-0.png) no-repeat;
    background-size: contain;
    width: 16px;
    height: 12px;
    left: 134px;
    top: 42px;
    display: none;
}

#rssi-icon-div.rssi-0 {
    background: url("icons/rssi-0.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-1 {
    background: url("icons/rssi-1.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-2 {
    background: url("icons/rssi-2.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-3 {
    background: url("icons/rssi-3.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-4 {
    background: url("icons/rssi-4.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-tx {
    background: url("icons/rssi-tx.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-rx {
    background: url("icons/rssi-rx.png") no-repeat;
    background-size: contain;
}

#direct-icon-div {
    position: absolute;
    background: url(icons/dir.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 13px;
    left: 153px;
    top: 42px;
    display: none;
}

#scan-icon-div {
    position: absolute;
    background: url(icons/scan.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 13px;
    left: 184px;
    top: 42px;
    display: none;
}

#secure-icon-div {
    position: absolute;
    background: url(icons/secure.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    left: 169px;
    top: 41px;
    display: none;
}


#gps-icon-div {
    position: absolute;
    background: url(icons/gps.png) no-repeat;
    background-size: contain;
    width: 13px;
    height: 14px;
    left: 279px;
    top: 43px;
    display: none;
}


.small-text {
}


.smaller-text {
}