/* Reset */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Background Image */
#loading-screen {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide audio controls */
audio {
    display: none;
}
