@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('fonts/NimbusSanL-Bol-webfont.eot');
    src: url('fonts/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NimbusSanL-Bol-webfont.woff2') format('woff2'),
    url('fonts/NimbusSanL-Bol-webfont.woff') format('woff'),
    url('fonts/NimbusSanL-Bol-webfont.ttf') format('truetype'),
    url('fonts/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nimbusantbolconregular';
    src: url('fonts/nimbussanst-boldcondensed-webfont.woff2') format('woff2'),
    url('fonts/nimbussanst-boldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#zn {
    display:none;
}

#znTxt {
    display:none;
}

#ch {
    display:none;
}

#chTxt {
    display:none;
}

#chKnob {
    position: absolute;
    left: 170px;
    top: 246px;
    width: 30px;
    height: 25px;
}


#ln01-div {
    position: absolute;
    top: 87px;
    left: 70px;
    width: 115px;
    height: 24px;
    text-align: center;
}

#ln01 {
    font-family: "nimbusantbolconregular";
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#ln02-div {
    position: absolute;
    top: 103px;
    left: 70px;
    width: 115px;
    height: 24px;
    text-align: center;
}


#ln02 {
    font-family: "nimbus_sans_lbold";
    font-size: 18px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#alert-div {
    position: absolute;
    top: 129px;
    left: 70px;
    width: 115px;
    height: 35px;
    text-align: center;
}

#alert {
    font-family: "nimbus_sans_lbold";
    margin-top: 0;
    margin-left: 0;
    font-size: 12px;
    vertical-align: top;
    z-index: 100;
}

.alert-none {
    color: #212121;
    background-color: #CBE5DD;
}

.alert-red{
    color: white;
    background-color: red;
}
.alert-yellow{
    color: #282828;
    background-color: yellow;
}
.alert-orange{
    color: #282828;
    background-color: orange;
}
.alert-blue{
    color: white;
    background-color: blue;
}

.alert-green {
    color: white;
    background-color: green;
}


#bt01-div {
    position: absolute;
    top: 165px;
    left: 69px;
    width: 40px;
    height: 19px;
    text-align: center;
}

#bt01 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: white;
}

#bt02-div
{
    position: absolute;
    top: 165px;
    left: 109px;
    width: 40px;
    height: 19px;
    text-align: center;
}

#bt02 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt03-div
{
    position: absolute;
    top: 165px;
    left: 148px;
    width: 37px;
    height: 19px;
    text-align: center;
}

#bt03 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt04-div
{
    display: none;
}

#bt04 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: white;
}

#bt05-div
{
    display: none;
}

#bt05 {
}

#radio {
    position: absolute;
    right: -310px;
    bottom: -121px;
    height: 500px;
    width: 570px;
    margin-top: 38%;
    background: url("Motorola-O3.png") no-repeat;
    background-size: contain;
}

#btnEmerg {
    display: none;
}

#btn1 {
    position: absolute;
    left: 73px;
    top: 213px;
    width: 30px;
    height: 25px;
}

#btn2 {
    position: absolute;
    left: 112px;
    top: 213px;
    width: 30px;
    height: 25px;
}

#btn3 {
    position: absolute;
    left: 149px;
    top: 213px;
    width: 30px;
    height: 25px;
}

#btn4 {
    display: none;
}

#btn5 {
    display: none;
}

#btnUp {
    position: absolute;
    left: 112px;
    top: 244px;
    width: 29px;
    height: 24px;
}

#btnHome {
    position: absolute;
    left: 83px;
    top: 318px;
    width: 42px;
    height: 28px;
}

#btnDown
{
    position: absolute;
    left: 112px;
    top: 294px;
    width: 29px;
    height: 24px;
}

#btnLeft
{
    position: absolute;
    left: 89px;
    top: 269px;
    width: 29px;
    height: 24px;
}

#btnRight
{
    position: absolute;
    left: 134px;
    top: 269px;
    width: 29px;
    height: 24px;
}

#btnPower
{
    display: none;
}

#redLED
{
    display: none;
}

#orangeLED
{
    display: none;
}

#greenLED
{
    display: none;
}

#multiFunctionLED {
    position: absolute;
    left: 205px;
    top: 127px;
    width: 5px;
    height: 10px;
    z-index: -1;
}


#battery-icon-div {
}

#rssi-icon-div {
    position: absolute;
    background: url(icons/rssi-0.png) no-repeat;
    background-size: contain;
    width: 16px;
    height: 12px;
    left: 71px;
    top: 72px;
    display: none;
}

#rssi-icon-div.rssi-0 {
    background: url("icons/rssi-0.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-1 {
    background: url("icons/rssi-1.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-2 {
    background: url("icons/rssi-2.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-3 {
    background: url("icons/rssi-3.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-4 {
    background: url("icons/rssi-4.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-tx {
    background: url("icons/rssi-tx.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-rx {
    background: url("icons/rssi-rx.png") no-repeat;
    background-size: contain;
}

#direct-icon-div {
    position: absolute;
    background: url(icons/dir.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 13px;
    left: 90px;
    top: 72px;
    display: none;
}

#scan-icon-div {
    position: absolute;
    background: url(icons/scan.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 13px;
    left: 122px;
    top: 72px;
    display: none;
}

#secure-icon-div {
    position: absolute;
    background: url(icons/secure.png) no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    left: 106px;
    top: 72px;
    display: none;
}


#gps-icon-div {
    position: absolute;
    background: url(icons/gps.png) no-repeat;
    background-size: contain;
    width: 13px;
    height: 14px;
    left: 139px;
    top: 72px;
    display: none;
}


.small-text {
}


.smaller-text {
}