@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('fonts/NimbusSanL-Bol-webfont.eot');
    src: url('fonts/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NimbusSanL-Bol-webfont.woff2') format('woff2'),
    url('fonts/NimbusSanL-Bol-webfont.woff') format('woff'),
    url('fonts/NimbusSanL-Bol-webfont.ttf') format('truetype'),
    url('fonts/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nimbusantbolconregular';
    src: url('fonts/nimbussanst-boldcondensed-webfont.woff2') format('woff2'),
    url('fonts/nimbussanst-boldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#zn {
    display:none;
}

#znTxt {
    display:none;
}

#ch {
    display:none;
}

#chTxt {
    display:none;
}

#ln01-div {
    position: absolute;
    top: 266px;
    left: 93px;
    width: 285px;
    height: 24px;
    text-align: center;
}

#ln01 {
    font-family: "nimbusantbolconregular";
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#ln02-div {
    position: absolute;
    top: 287px;
    left: 93px;
    width: 285px;
    height: 36px;
    text-align: center;
}


#ln02 {
    font-family: "nimbus_sans_lbold";
    font-size: 24px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#alert-div
{
    position: absolute;
    top: 328px;
    left: 92px;
    width: 286px;
    height: 38px;
    text-align: center;
}

#alert {
    font-family: "nimbus_sans_lbold";
    margin-top: 0;
    margin-left: 0;
    font-size: 24px;
    vertical-align: top;
    z-index: 100;
}

.alert-none {
    color: #212121;
    background-color: #CBE5DD;
}

.alert-red{
    color: white;
    background-color: red;
}
.alert-yellow{
    color: #282828;
    background-color: yellow;
}
.alert-orange{
    color: #282828;
    background-color: orange;
}
.alert-blue{
    color: white;
    background-color: blue;
}

.alert-green{
    color: white;
    background-color: green;
}



#bt01-div {
    position: absolute;
    top: 367px;
    left: 92px;
    width: 53px;
    height: 18px;
    text-align: center;
}

#bt01 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: lightgray;
}

#bt02-div
{
    position: absolute;
    top: 367px;
    left: 146px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#bt02 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: lightgray;
}

#bt03-div
{
    position: absolute;
    top: 367px;
    left: 205px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#bt03 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: lightgray;
}

#bt04-div
{
    position: absolute;
    top: 367px;
    left: 261px;
    width: 58px;
    height: 18px;
    text-align: center;
}

#bt04 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: lightgray;
}

#bt05-div
{
    position: absolute;
    top: 367px;
    left: 321px;
    width: 53px;
    height: 18px;
    text-align: center;
}

#bt05 {
    font-family: "nimbusantbolconregular";
    font-size: 14px;
    text-transform: capitalize;
    margin-top:0;
    margin-left:0;
    vertical-align: top;
    color: lightgray;
}

#radio {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 537px;
    width: 570px;
    margin-top: 38%;
    background: url("Motorola-O9.png") no-repeat;
    background-size: contain;
}

#btnEmerg {
    position: absolute;
    left: 505px;
    top: 48px;
    width: 30px;
    height: 29px;
}

#btn1 {
    position: absolute;
    left: 103px;
    top: 411px;
    width: 49px;
    height: 26px;
}



#btn2 {
    position: absolute;
    left: 157px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#btn3 {
    position: absolute;
    left: 212px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#btn4 {
    position: absolute;
    left: 264px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#btn5 {
    position: absolute;
    left: 319px;
    top: 411px;
    width: 49px;
    height: 26px;
}

#btnUp
{
    position: absolute;
    left: 430px;
    top: 378px;
    width: 40px;
    height: 20px;
}

#btnDown
{
    position: absolute;
    left: 430px;
    top: 409px;
    width: 40px;
    height: 20px;
}

#btnLeft
{
    position: absolute;
    left: 409px;
    top: 378px;
    width: 20px;
    height: 51px;
}

#btnRight
{
    position: absolute;
    left: 469px;
    top: 378px;
    width: 20px;
    height: 51px;
}

#btnHome
{
    position: absolute;
    left: 398px;
    top: 461px;
    width: 66px;
    height: 42px;
}

#btnPower
{
    position: absolute;
    left: 31px;
    top: 165px;
    width: 31px;
    height: 32px;
}

#redLEDImg
{
    position: absolute;
    height: 537px;
    width: 570px;
    background: url("O9-redLED.png") no-repeat;
    background-size: contain;
}

#orangeLEDImg
{
    position: absolute;
    height: 537px;
    width: 570px;
    background: url("O9-yellowLED.png") no-repeat;
    background-size: contain;
}

#greenLEDImg
{
    position: absolute;
    height: 537px;
    width: 570px;
    background: url("O9-greenLED.png") no-repeat;
    background-size: contain;
}


#battery-icon-div {
}

#rssi-icon-div {
    position: absolute;
    background: url(icons/rssi-0.png) no-repeat;
    background-size: contain;
    width: 35px;
    height: 15px;
    left: 94px;
    top: 246px;
    display: none;
}

#rssi-icon-div.rssi-0 {
    background: url("icons/rssi-0.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-1 {
    background: url("icons/rssi-1.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-2 {
    background: url("icons/rssi-2.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-3 {
    background: url("icons/rssi-3.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-4 {
    background: url("icons/rssi-4.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-tx {
    background: url("icons/rssi-tx.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-rx {
    background: url("icons/rssi-rx.png") no-repeat;
    background-size: contain;
}

#scan-icon-div {
    position: absolute;
    background: url(icons/scan.png) no-repeat;
    background-size: contain;
    width: 25px;
    height: 15px;
    left: 198px;
    top: 246px;
    display: none;
}

#secure-icon-div {
    position: absolute;
    background: url(icons/secure.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 15px;
    left: 165px;
    top: 246px;
    display: none;
}

#direct-icon-div {
    position: absolute;
    background: url(icons/dir.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 15px;
    left: 128px;
    top: 246px;
    display: none;
}


#gps-icon-div {
    position: absolute;
    background: url(icons/gps.png) no-repeat;
    background-size: contain;
    width: 20px;
    height: 15px;
    left: 362px;
    top: 246px;
    display: none;
}


.small-text {
}


.smaller-text {
}