@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('fonts/NimbusSanL-Bol-webfont.eot');
    src: url('fonts/NimbusSanL-Bol-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/NimbusSanL-Bol-webfont.woff2') format('woff2'),
    url('fonts/NimbusSanL-Bol-webfont.woff') format('woff'),
    url('fonts/NimbusSanL-Bol-webfont.ttf') format('truetype'),
    url('fonts/NimbusSanL-Bol-webfont.svg#nimbus_sans_lbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nimbusantbolconregular';
    src: url('fonts/nimbussanst-boldcondensed-webfont.woff2') format('woff2'),
    url('fonts/nimbussanst-boldcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#zn {
    display:none;
}

#znTxt {
    display:none;
}

#chTxt {
    position: absolute;
    top: 223px;
    left: 47px;
    width: 14px;
    height: 5px;
    text-align: left;
    font-family: "nimbus_sans_lbold";
    font-size: 9px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}
#ch {
    position: absolute;
    top: 223px;
    left: 60px;
    width: 14px;
    height: 5px;
    text-align: left;
    font-family: "nimbus_sans_lbold";
    font-size: 9px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#ln01-div
{
    display:none;
}

#ln01 {
    display:none;
}

#ln02-div
{
    position: absolute;
    top: 233px;
    left: 47px;
    width: 84px;
    height: 16px;
    text-align: left;
}

#ln02 {
    font-family: "nimbus_sans_lbold";
    font-size: 13px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: #282828;
}

#alert-div
{
    display: none;
}

#alert {
    display: none;
}

.alert-none {
    display: none;
}

.alert-red{
    display: none;
}
.alert-yellow{
    display: none;
}
.alert-orange{
    display: none;
}
.alert-blue{
    display: none;
}

.alert-blue{
    display: none;
}



#bt01-div {
    position: absolute;
    top: 256px;
    left: 42px;
    width: 43px;
    height: 12px;
    text-align: center;
}

#bt01 {
    font-family: "nimbus_sans_lbold";
    font-size: 9px;
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: white;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#bt02-div
{
    position: absolute;
    top: 256px;
    left: 87px;
    width: 43px;
    height: 12px;
    text-align: center;
}

#bt02 {
    font-family: "nimbus_sans_lbold";
    font-size: 9px;
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    color: white;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

#bt03-div
{
    display:none;
}

#bt03 {
    display:none;
}

#bt04-div
{
    display:none;
}

#bt04 {
    display:none;
}

#bt05-div
{
    display:none;
}

#bt05 {
    display:none;
}

#radio {
    position: absolute;
    right: 48px;
    bottom: -8px;
    height: 406px;
    width: 300px;
    background: url(XPR7550.png) no-repeat;
    background-size: contain;
}

#btnEmerg {
    position: absolute;
    left: 100px;
    top: 78px;
    width: 21px;
    height: 10px;
}

#btnHome {
    position: absolute;
    left: 114px;
    top: 304px;
    width: 21px;
    height: 21px;
}

#btn1
{
    position: absolute;
    left: 38px;
    top: 284px;
    width: 24px;
    height: 16px;
}



#btn2
{
    position: absolute;
    left: 111px;
    top: 284px;
    width: 24px;
    height: 16px;
}

#btn3 {
    display:none;
}

#btn4
{
    display:none;
}

#btn5
{
    display:none;
}

#btnUp
{
    position: absolute;
    left: 72px;
    top: 288px;
    width: 30px;
    height: 20px;
}

#btnDown
{
    position: absolute;
    left: 72px;
    top: 305px;
    width: 30px;
    height: 20px;
}

#btnLeft
{
    display:none;
}

#btnRight
{
    position: absolute;
    left: 69px;
    top: 22px;
    width: 29px;
    height: 62px;
}


#btnPower
{
    position: absolute;
    left: 24px;
    top: 38px;
    width: 43px;
    height: 45px;
}

#redLED
{
    display:none;
}

#orangeLED
{
    display:none;
}

#greenLED
{
    display:none;
}

#alertLED {
    position: absolute;
    left: 51px;
    top: 130px;
    width: 29px;
    height: 8px;
    z-index: 1;
}

#multiFunctionLED {
    position: absolute;
    left: 54px;
    top: 80px;
    width: 17px;
    height: 5px;
    z-index: 1;
}

#battery-icon-div {
    position: absolute;
    background-size: contain;
    width: 14px;
    height: 10px;
    left: 60px;
    top: 207px;
    display: none;
}


#battery-icon-div.batt-1 {
    background-size: contain;
    background: url("icons/batt-1.png") no-repeat;
}
#battery-icon-div.batt-2 {
    background-size: contain;
    background: url("icons/batt-2.png") no-repeat;
}
#battery-icon-div.batt-3 {
    background-size: contain;
    background: url("icons/batt-3.png") no-repeat;
}
#battery-icon-div.batt-4 {
    background-size: contain;
    background: url("icons/batt-4.png") no-repeat;
}
#battery-icon-div.batt-low {
    background-size: contain;
    background: url("icons/batt-low.png") no-repeat;
    animation: blinking 1s linear infinite;
}

@keyframes blinking {
    100% {
        opacity:100;
    }
    1%{
        opacity:0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
}

#rssi-icon-div {
    position: absolute;
    background: url(icons/rssi-0.png) no-repeat;
    background-size: contain;
    width: 14px;
    height: 11px;
    left: 43px;
    top: 207px;
    display: none;
}


#rssi-icon-div.rssi-0 {
    background: url("icons/rssi-0.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-1 {
    background: url("icons/rssi-1.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-2 {
    background: url("icons/rssi-2.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-3 {
    background: url("icons/rssi-3.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-4 {
    background: url("icons/rssi-4.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-tx {
    background: url("icons/rssi-tx.png") no-repeat;
    background-size: contain;
}

#rssi-icon-div.rssi-rx {
    background: url("icons/rssi-rx.png") no-repeat;
    background-size: contain;
}

#scan-icon-div {
    position: absolute;
    background: url("icons/scan.png") no-repeat;
    background-size: contain;
    width: 11px;
    height: 14px;
    left: 81px;
    top: 207px;
    display:none;
}

#secure-icon-div {
    position: absolute;
    background: url("icons/secure.png") no-repeat;
    background-size: contain;
    width: 13px;
    height: 14px;
    left: 91px;
    top: 208px;
    display:none;
}

#gps-icon-div {
    position: absolute;
    background: url(icons/gps.png) no-repeat;
    background-size: contain;
    width: 10px;
    height: 40px;
    left: 106px;
    top: 207px;
    display:none;
}


#direct-icon-div {
    position: absolute;
    background: url("icons/dir.png") no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    left: 71px;
    top: 208px;
    display:none;
}

.small-text {
    font-size: 8px !important;
}


.smaller-text {
    font-size: 6px !important;
}